.get-to-work {
  width: 100vw;
  height: 100vh;
  background: url('../../assets/images/work.gif') no-repeat bottom center;
  background-size: cover;
  text-align: center;
}

.get-to-work .get-to-work-content {
  position: absolute;
  bottom: 20%;
  right: 20%;
  text-align: left;
}


.get-to-work .get-to-work-content .get-to-work-link {
  text-decoration: none;
}

.get-to-work .get-to-work-content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 600;
}